


<header class="fixed-header">


    <div class="header-padding">
        <div class="row header-fixed">
            <div class="col-lg-1 padding-top-15">
                <a class="logo-wrapper">
                    <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                </a>
            </div>
            <div class="col-lg-9  padding-top-80">
                <span class="header-text">
                   Andhra Pradesh State Skill Development Corporation
                </span>
            </div>
            <div class="col-lg-2 padding-right-50" onclick="toggleDisplay()">

                <a class="user-pic">
                    <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                </a>
                <div class="user-id">TR105620</div>
            </div>
            <!--      <div *ngIf="!isShow">This is a div which toggles.</div> -->
            <div class="row sticky-header">
                <div class="col-lg-12">
                    <div class="assess-list">
                        <ul class="list-ul">
                            <li class="list-li" routerLink="/trainer-dashboard"> Applicant Dashboard</li>
                            <li class="list-li" routerLink="/trainer">Trainer</li>
                            <li class="list-li" routerLink="/myProfile-trainer">My Profile</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

</header>

