<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header " style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-80">
                            <span class="header-text">
                               Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick="toggleDisplay()">

                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">CAN19975</div>
                        </div>
                        <!--      <div *ngIf="!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        
                                       <li class="list-li" > <span  [routerLink]="[ '/candidate']"
                                                    class="link-style">Dashboard</span> 
                                                   </li>
                                     
                                        <li class="list-li" > <span  [routerLink]="[ '/candidate-myprofile']"
                                                class="link-style">My Profile</span> 
                                               </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>
    <div class="col">


        <div class="row">
            <div class="col-lg-12 padding-top-180">
                <div class="search-body">
                    <div class="dashboard-header">
                        <div class="row padding-bottom-25">

                            <div class="dashboard-subheader">
                                <div class="dashboard-content">
                                    My Dashboard
                                </div>
                                <ul class="dashboard-ul">
                                    <li class="dashboard-li">

                                    </li>
                                    <li class="dashboard-li ">
                                        -
                                    </li>


                                    <li class="dashboard-li Search Batches">
                                        View/Add Preferences
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="dashboard-body">
                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="request-header">
                                        Training Preferences
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                </div>
                                <div class="col-lg-5 request-button">
                                    <span style="float:right">
                                        <a type="button" class="btn  btn-outline-primary"
                                        routerLink="/candidate-viewalltrainingcentres">View All Training Centres
                                        </a>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="dashboard-body">
                            <div class="row ">

                                <div class="col-lg-3">
                                    <div class="request-header">
                                        <p class="job-text">Job Role Preferences</p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    &nbsp;
                                </div>
                                <div class="col-lg-5 request-button">
                                    <span style="float:right">
                                        <!--   <button type="button" class="btn  btn-outline-primary margin-left-0">Add Preferred Job Role
                                            </button> -->
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                            data-target="#exampleModal" data-whatever="@mdo">Add Preferred Job
                                            Role</button>
                                    </span>
                                    <div class="col-lg-12 modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Preferred Job
                                                        Role
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                
                                                <form [formGroup]="viewAddPreferencesForm"  (ngSubmit)="onSubmit(viewAddPreferencesForm.value)">
                                                  <div class="modal-body">
                                                   
                                                       
                                                        <div class="form-group">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Sector:</label>

                                                            <select class="form-control" formControlName="sectorId"
                                                                (change)="getSubsectorsForSector($event.target.value)"
                                                                id="sector">
                                                                <option value=" " disabled>Select Sector</option>
                                                                <option *ngFor="let sector of sectors; let i=index"
                                                                    [value]="sectors[i].sectorId">
                                                                    {{sectors[i].sectorName}}
                                                                </option>




                                                            </select>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlInput1">Select Sub
                                                                Sector:</label>
                                                            <select class="form-control" formControlName="subSectorId"
                                                                (change)="getJobrolesForSubsector($event.target.value)"
                                                                id="subsector">
                                                                <option value=" " disabled>Select Subsector</option>
                                                                <option
                                                                    *ngFor="let subsector of subSectors; let sectorId=index"
                                                                    [value]="subSectors[sectorId].subSectorId">
                                                                    {{subSectors[sectorId].subSectorName}}
                                                                </option>

                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlInput1"> JobRole</label>
                                                            <select class="form-control" formControlName="jobRoleId"
                                                                id="jobrole">
                                                                <option value=" " disabled>Select Jobrole</option>
                                                                <option
                                                                    *ngFor="let jobrole of jobRoles; let jobId=index"
                                                                    [value]="jobRoles[jobId].jobId">
                                                                    {{jobRoles[jobId].jobName}}
                                                                </option>

                                                            </select>
                                                        </div>
                                                        
                                                    
                                                   </div>

                                                   <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary"
                                                       >Add</button>
                                                       <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                                                       aria-label="Close"
                                                       >close</button>
                                                   </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-12">
                                <table class="table table-striped hover" datatable="ng" [dtOptions]="dtOptions"
                                    id="viewAddPreferenceTable">
                                    <thead>

                                        <tr>
                                            <th >S.No</th>
                                            <td>Job Role Name</td>
                                            <td>QP Code</td>
                                            <td>Sector</td>
                                            <td>Sub-Sector</td>
                                            <td>Created On</td>
                                            <td>Action</td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let group of batchData">

                                            <td></td>
                                            <td>{{group.jobRole.jobName}}</td>
                                            <td>{{group.qpCode}}</td>
                                            <td>{{group.sector.sectorName}}</td>
                                            <td>{{group.subSector.subSectorName}}</td>
                                            <td>{{group.user.utilDate}}</td>


                                            <td><a routerLink="/candidate-viewpreferences">View Details</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>