<div class="login">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="login-left-container">
                    <div class="login-wrapper">
                        <div class="login-logo">
                            <a class="">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="login-container">
                            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
                                <select class="form-control user-group" formControlName="userGroup">
                                    <option value=" " disabled>choose your user group</option>
                                   
                                    <option>Training Provider</option>
                                    <option>Trainer</option>
                                    <option>Assessor</option>
                                    <option>Cadidate</option>
                                    <option>Educational Institutions</option>
                                    <option>Industries</option>
                                    
                                  </select>
                                  <input type="text"
                                  class="form-control  ng-pristine ng invalid ng-touched username-input" 
                                  placeholder="Name of SPOC" >
                                  <span  class="form__help">
                                    Name should be as per your Aadhaar
                                  </span>
                                <input type="text"
                                    class="form-control  ng-pristine ng invalid ng-touched username-input" 
                                    placeholder="Email Address" formControlName="email">
                                <input type="text"
                                    class="form-control  ng-pristine ng invalid ng-touched username-input" 
                                    placeholder="Mobile Number" formControlName="mobile">

                                    <div  class="form-terms">
                                        <div  class="align-left">
                                            <div class="form-group">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" formControlName="agree" required>
                                                  <label class="form-check-label" for="invalidCheck2">
                                                    I Agree the
                                                    <a  class="link--focus"  data-toggle="modal" href="javascript:;">Terms and Conditions</a>.
                                                  </label>
                                                  <span class="help"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <recaptcha
                                    [(ngModel)]="myRecaptcha"
                                    (scriptLoad)="onScriptLoad()"
                                    (scriptError)="onScriptError()"
                                  ></recaptcha>
                                <div class="login__form-action">
                                   <!--  <a type="button" class=" btn  btn-primary login-button" href="/candidate-registration-form" >
                                        Register
                                    </a> -->
                                    <button type="submit" class="btn  btn-primary login-button  "> Register</button>
                                </div>
                            </form>
                            <div class="register_account">
                                <span class="register__account-msg">
                                   Already have an account?
                                </span>
                                <a class="register__account-link" href="/login" id="signup"
                                    routerlink="/login">
                                   Login Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6" style="
            padding-right: 0 !important;
        ">
                <div class="login-right-container">
                    <h2   class="sdms-text">  Andhra Pradesh State Skill Development Corporation</h2>
                    <div  class="item--left">
                        <h3  class="login__welcome">
                            Register Now
                        </h3>
                        <p  class="login__msg">
                            What do i do here?
                            <br >Here you need to register with your name,
                            email address , mobile number to kick start registration process.
                            <br >
                            <br > What next?
                           <br> So you will be taken to respective registration form.
                        </p>
                        <div  class="login-right">
                            <h5  class="help-text">Need Help? Call us on 1800-425-2422</h5>
                            <h4  class="text-center">Or</h4>
                            <h5  class="help-text td">Write us at <a  class="hyperlink " href="support@apssdc.in">support@apssdc.in</a></h5>
                         
                            <div >
                               <h5> For Training Centre Accreditation &amp; Affiliation</h5>
                                <h5 >process, please send an email to</h5>
                                
                                <h5 ><a  class="hyperlink" href="ceo@apssdc.in">ceo@apssdc.in</a></h5>
                            </div>
                            <br >
                            <a  type="button" class="btn btn-outline-light button-homepage"  href="/landing">Back to Homepage</a>
                        
                        </div>
                    </div>
                    </div>

            </div>
        </div>
    </div>
</div>