<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header " style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-50">
                            <span class="header-text">
                                Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick="toggleDisplay()">

                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">AR19975</div>
                        </div>
                        <!--      <div *ngIf="!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        <li class="list-li"> <a href="/assessment" 
                                                class="">Applicant Dashboard</a></li>
                                        <li class="list-li"><a href="/assessor" 
                                                class="">Assessor</a></li>
                                        <li class="list-li"><a href="/my-profile"
                                                class="">My Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>

    </div>
    <div class="col">
        <section>
            <div class="row">
                <div class="col-lg-12 padding-top-180">
                    <div class="search-body">
                        <div class="dashboard-header">
                            <div class="row padding-bottom-25">
    
                                <div class="dashboard-subheader">
                                    <div class="dashboard-content">
                                         Dashboard
                                    </div>
                                    <ul class="dashboard-ul">
                                        <li class="dashboard-li">
    
                                        </li>

                                        <li class="dashboard-li Search Batches">
                                           View Batches
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                            <div class="dashboard-body">
                                <div class="row ">
                                    <div class="col-lg-3">
                                        <div class="request-header">
                                           <h3> View All Batches</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        
                               
                                    </div>
                                   
                                    
                                    <div class="col-lg-2 request-button">
                                
                                       
                                            <a href="/assessor-view-batches" class="btn  btn-outline-primary "
                                            role="button" aria-pressed="true"> Go
                                            Back</a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                &nbsp;
                                </div>
                                <div class="dashboard-body">
                                    <div class="row ">                                     
                                           <div class="col-lg-12 request-button">
                                            <div class="row ">          
                                               <div class="col-lg-4">
                                         
                                            <a type="button" href="/assessor-view-batches" class="btn  btn-primary">Assessment Batch Request</a>
                                               </div>
                                           &nbsp;
                                           &nbsp;
                                           <div class="col-lg-4">
                                            <a type="button" class="btn  light" href="/assessment-batches">Assessed Batch Request</a>
                                            </div>
                                           </div>
                                        </div>
    
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 request-button">
                                            <div class="row">
                                                <div class="col-lg-4">
                                         
                                            <a href="/assessor-view-batches" class="btn btn-primary width-100"
                                            role="button" aria-pressed="true"> Pending Requests</a>
                                                </div>
                                                <div class="col-lg-4">
                                      
                                        <a href="/assessor-view-batches" class="btn btn-light width-100"
                                        role="button" aria-pressed="true"> Accepted</a>
                                                </div>
                                        
                                                <div class="col-lg-4">
                                     
                                        <a href="/assessor-view-batches" class="btn btn-light width-100"
                                        role="button" aria-pressed="true">Rejected </a>
                                        </div>
                                        </div>

                                       
                                       </div>
    
                                    </div>
    
                                    <div class="padding-top-20 padding-left-40" >
                                        <b>Batches Count : 0</b>
    
                                    </div>
    
                            <div class="col-lg-12 form-padding">
                                <form>
                                    <div class="row ">
                                        <div class="col-lg-3">
    
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Schema/Program/Model</label>
                                                <select class="form-control ">
                                                    <option>Select Schema</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Sector</label>
                                                <select class="form-control ">
                                                    <option>Select Sector</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Batch Type</label>
                                                <select class="form-control ">
                                                    <option>Select Batch Type</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Job Role</label>
                                                <select class="form-control ">
                                                    <option>Select Job Role</option>
                                                  </select>
                                            </div>
                                        </div>
    
                                    </div>
                                </form>
                            </div>
    
                            <div class="col-lg-12 form-padding">
                                <form>
                                    <div class="row ">
                                        <div class="col-lg-3">
    
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">State</label>
                                                <select class="form-control ">
                                                    <option>Select State</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Batch ID</label>
                                                <select class="form-control ">
                                                    <option>Search by Batch ID</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 padding-top-30">
                                            <div class="form-group">
                                                <a href="#" class="btn btn-primary  active" role="button"
                                                aria-pressed="true">Apply</a>
                                            <a href="#" class="btn btn-light  margin-left-15 active" role="button"
                                                aria-pressed="true">Reset</a>
                                            </div>
                                        </div>
                                        
    
                                    </div>
                                </form>
                            </div>
    
    
    
    
    
    
    
                            <div class="col-lg-12">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
    
                                      <td>Schema/Program/Model</td>
                                      <td>Batch Type</td>
                                      <td>Batch ID</td>
                                      <td>Job Role-(QP Code)</td>
                                      <td>TC Name-Loacation</td>
                                      <td>Batch Size</td>
                                      <td>Enrolled Candidates</td>
                                      <td>Dropout Candidae Size</td>
                                      <td>Preferred Assessment Langugage</td>
                                      <td>Request Type</td>
                                      <td>Assessement Dates</td>
                                      <td>Status</td>
                                      <td>Actions</td>
                                      
                                    
                                    </tr>
                                    </tbody>
                                </table>
    
                                <div class="padding-bottom-30 ">No Batches Found</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     

</div>
    
