<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header " style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-80">
                            <span class="header-text">
                               Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick="toggleDisplay()">

                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">CAN19975</div>
                        </div>
                        <!--      <div *ngIf="!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        
                                       <li class="list-li" > <span  [routerLink]="[ '/candidate']"
                                                    class="link-style">Dashboard</span> 
                                                   </li>
                                     
                                        <li class="list-li" > <span  [routerLink]="[ '/candidate-myprofile']"
                                                class="link-style">My Profile</span> 
                                               </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>
    <div class="col">


        <div class="row">
            <div class="col-lg-12 padding-top-180">
                <div class="search-body">
                    <div class="dashboard-header">
                        <div class="row padding-bottom-25">

                            <div class="dashboard-subheader">
                                <div class="dashboard-content">
                                    My  Dashboard
                                </div>
                                <ul class="dashboard-ul">
                                    <li class="dashboard-li">

                                    </li>
                                    <li class="dashboard-li ">
                                        -
                                    </li>
                                    <li class="dashboard-li text">
                                        View Batches
                                    </li>
                                    <li class="dashboard-li separator">
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="dashboard-body">
                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="request-header">
                                        My Batches
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    &nbsp;
                                </div>
    
                        <div class="col-lg-12">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                  <th scope="row"></th>
                                  <td>S.No</td>
                                  <td>Batch ID</td>
                                  <td>Training Centre Name</td>
                                  <td>Job Role Name</td>
                                 
                                  <td>District</td>
                                  <td>Start Date-End Date</td>
                                  <td>Actions</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>