<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header"  style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-50">
                            <span class="header-text">
                                Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick = "toggleDisplay()">
                            
                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">AR19975</div>
                        </div>
                     <!--    <div *ngIf = "!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        <li class="list-li"> <a href="/assessment" 
                                            class="">Applicant Dashboard</a></li>
                                    <li class="list-li"><a href="/assessor" 
                                            class="">Assessor</a></li>
                                    <li class="list-li"><a href="/my-profile"
                                            class="">My Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>
    <div class="col">
        <section>
            <div class="row">
                <div class="col-lg-12 padding-top-180">
                    <div class="search-body">
                        
                          
                            <div class="col-12">
                                &nbsp;
                            </div>
                            <div class="m-portlet m-portlet--tab">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="m-portlet__head-title">
                                                    <span class="m-portlet__head-icon m--hide">
                                                        <i class="la la-gear"></i>
                                                    </span>
                                                    <h3 class="m-portlet__head-text">
                                                        View Applicant Details
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <button class="btn btn-outline-info back-btn float-right"
                                                    routerlink="/assessor/applicant" type="button"
                                                    tabindex="0">Go Back</button>
                                                <button class="btn btn-outline-info back-btn float-right"
                                                    routerlink="/assessor/profile" type="button"
                                                    tabindex="0">Edit Profile</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>
                                <hr>
                                <div> &nbsp;</div>
                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Personal Information</h5>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="row">
                                        <div class="col-12 col-xl-5 col-sm-12 col-md-5 details-labeldata">
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Name of the Applicant
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">gantasala lakshmi
                                                    suchitra</span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Gender
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">Female </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Religion
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">Hindu </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-5 col-sm-12 col-md-5 ">
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">Date Of Birth
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 data-details">30-05-1996 </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">Languages Known
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 data-details">
                                                    <!----><span>Telugu</span>
                                                </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">Category
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 data-details">General</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-2 col-sm-12 col-md-2">
                                            <img alt="Avatar" style="max-width:138px"
                                                src="./assets/images/Dummy_Image_Man.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>
                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Contact &amp; Address Details</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-xl-6 col-sm-12 col-md-6 details-labeldata">
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Mobile Number Of Applicant
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">8919294779 </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Email Address Of Applicant
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">lakshmisuchitra681@gmail.com
                                                </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">Applicant Address
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details"> </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-6 title">NearBy Landmark
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details"> </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6 col-sm-12 col-md-6 ">
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">Pincode
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 data-details">533001 </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">State / Union Territory
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 details-data-high">ANDHRA PRADESH</span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">District / City
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 details-data-high">EAST GODAVARI</span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-5 title">Tehsil / Mandal
                                                    <span class="float-right">:</span>
                                                </span>
                                                <span class="col-xl-7 details-data-high">Rajahmundry
                                                    (Urban)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>

                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Education Details</h5>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="row heading_row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 details-labeldata">
                                            <!---->
                                            <div class="row heading_row">
                                                <span class="col-xl-3 title">B.Tech
                                                    <span style="float: right;">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">btech</span>
                                                <span class="doc-type  col-xl-3" style="color:#2980b9">
                                                    <a class="m--font-info"
                                                        href="javascript:0">Assessor/AR19975/educationProof/b5f48873-8127-4f8b-aa4e-99a179967e90_burgerlogo.png</a>
                                                </span>
                                            </div>
                                            <div class="row heading_row">
                                                <span class="col-xl-3 title">B.Tech
                                                    <span style="float: right;">:</span>
                                                </span>
                                                <span class="col-xl-6 data-details">suchitra</span>
                                                <span class="doc-type  col-xl-3" style="color:#2980b9">
                                                    <a class="m--font-info"
                                                        href="javascript:0">Assessor/AR19975/educationProof/746420ec-153a-4fce-92e8-33b3ee7ccabf_burgerlogo.png</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>

                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Added Industrial Experience Details</h5>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="row heading_row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 details-labeldata">
                                            <!---->
                                            <div class="row heading_row">
                                                <span class="col-xl-3 title">IT-ITeS
                                                    <span style="float: right;">:</span>
                                                </span>
                                                <span class="col-xl-5 data-details">it </span>
                                                <span class="col-xl-1 data-details">2 years
                                                    9 months</span>
                                                <span class="doc-type  col-xl-3" style="color:#2980b9">
                                                    <a class="m--font-info"
                                                        href="javascript:0">Assessor/AR19975/workExperienceProof/88430346-953c-4793-b4e3-134fe870450a_burgerlogo.png</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>

                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Added Training Experience Details</h5>
                                        </div>
                                    </div>
                                    <!---->
                                    <div class="row heading_row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 details-labeldata">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>

                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Training Requests</h5>
                                        </div>
                                    </div>
                                    <div> &nbsp;</div>

                                    <hr>
                                    <div> &nbsp;</div>
                                    <!---->
                                    <div class="row heading_row">
                                        <div class="col-lg-12">
                                            <table class="table table-striped">
                                                <tbody class="m-datatable__body margin-table">
                                                    <!---->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="m-portlet__body m-portlet__body-custom">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            <h5>Applicant Type</h5>
                                        </div>
                                    </div>

                                    <!---->
                                    <div class="row heading_row">
                                        <!---->
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12">
                                            Assessor
                                        </div>
                                    </div>
                                </div>
                                <div> &nbsp;</div>

                                <hr>
                                <div> &nbsp;</div>

                                <h5>Assessment Agency Association</h5>
                                <div class="col-lg-12">
                                    &nbsp;
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>

                                                <td>Assessment Agency ID</td>
                                                <td>Assessment Agency Name</td>
                                                <td>Scheme ID</td>
                                                <td>Linking Type</td>
                                                <td>Empanelment Duration</td>




                                            </tr>


                                        </tbody>
                                    </table>
                                    &nbsp;&nbsp;


                                </div>
                            </div>

                        </div>
                    </div>
             </div>
