<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid">
  <div class="row">

    <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2">

    </div>

    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
      <img src="../../assets/images/landing-page-assets/logo_1.png" class="skillApLogo" alt="skillAPLogo">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="img-center-container">
        <img class="img-fluid apLogo" src="../../assets/images/landing-page-assets/logo_2.png" alt="ApLogo">
      </div>
      <h2 class="header-text">ANDHRA PRADESH</h2>
      <h2 class="header-text header-mobile-hide">STATE SKILL DEVELOPMENT CORPORATION</h2>


      <div class="register-btn-cont">

        <button type="button" class="btn btn-default login-button"  routerLink="login">Login</button>
        <button type="button" class="btn btn-default register-button" routerLink="registration">Register</button>

      </div>


    </div>

    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
      <img src="../../assets/images/landing-page-assets/logo_3.png" class="skillApLogo" alt="CmLogo">
    </div>


    <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2">

    </div>
  </div>

  <div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mob-header">
    <h2 class="header-text mobile-head mobile-second-head">STATE SKILL DEVELOPMENT CORPORATION</h2>
  </div>

  </div>

</div>
<!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#" class="active">Home</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="#search-course">Search Courses</a>
    <a href="#training-partner">Training Partner</a>
    <a href="#news">News & Events</a>
    <a href="#quick-links">Quick Links</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/registration">Register</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" (click)="menuChange()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="container-fluid landing-header">


  <div class=" menu-cont">

    <div style="margin-right:0px" class="row">
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2  back-blue mobile-hide">

      </div>
      <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 menu-container back-blue">
        <ul class="menu-list">

          <li class="home-menu-link"><a href="#">Home</a></li>
          <li><a href="#search-course">Search Courses</a></li>
          <li><a href="#training-partner">Training partner</a></li>
          <li><a href="#news">News & Events</a></li>
          <li><a href="#quick-links">Quick Links</a></li>
        </ul>
      </div>

      <div class=" contact-cont col-xs-3 col-sm-3 col-md-2 col-lg-3">
        <img class="phn-icon" src="../../assets/images/landing-page-assets/phone.png" alt="phone">
        <h4 class="phn-number"><a href="tel:1800-425-2422">1800-425-2422</a></h4>
      </div>


    </div>


  </div>
  <div class="container video-main">


    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 video-back">
        <div>
          <video class="video-area-main" playsinline="" autoplay="" muted="" defaultmuted="" loop="" poster="">
            <source src="https://publish.viostream.com/player/download/bxixurbb9jft11" type="video/mp4">
          </video>
        </div>
        <!-- <button id="video-control" type="button" class="glyphicon glyphicon-pause">
      <span class="sr-only">Pause background video</span>
    </button> -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-text-cont">
        <h1 class="banner-text-head-one">Welcome to</h1>
        <h2 class="banner-text-head-two">SKILL AP</h2>
        <p class="banner-para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolor
          deleniti nesciunt assumenda, voluptas accusantium sint alias laudantium, tenetur mollitia? Ex fuga soluta,
          sunt molestias labore nihil eos quaerat?</p>
        <button type="button" class="btn btn-default banner-btn">Request a call</button>
      </div>
    </div>





  </div>

</div>
<div class="container-fluid search-back" id="search-course">

  <div class="row search-cont">
    <h2 class="landing-heading sea-head">Search <span class="blue-heading">Courses</span></h2>
  </div>

  <div class="row">

    <div class="container search-cont ">


      <div class="row input-cont">



        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="form-group">
            <img class="searchIcon" src="../../assets/images/landing-page-assets/icon_1.png" alt="">
            <input type="search" name="" id="search-courses-para" class="form-control search-input-field"
              placeholder="Search courses of occupations" required="required" title="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="form-group">
            <img class="searchIcon" src="../../assets/images/landing-page-assets/icon_2.png" alt="">
            <input type="search" name="" id="location-para" class="form-control search-input-field"
              placeholder="Enter a location" required="required" title="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

          <button type="button" class="btn form-control btn-default search-buttn">Search</button>

        </div>

      </div>


    </div>

  </div>


</div>
<!-- <div class="container">

  <div class="row">
    <h2 class="landing-heading"><span class="blue-heading">Who</span> we are</h2>
  </div>

  <div class="row">
    <p class="who-para"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequuntur numquam. Perferendis
      nisi sapiente quisquam dolores consequatur modi, est ullam vero maiores illum officiis cum soluta beatae deleniti
      laudantium sequi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nisi cumque non tempore eius atque nobis officia
      doloremque distinctio perferendis. Nobis suscipit iure, tempore maiores mollitia est expedita numquam fugit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus rerum nemo veniam iusto voluptatum, nobis libero
      ullam aliquid iste suscipit facilis officia illo voluptas aliquam vero? Ipsam et beatae mollitia.
    </p>

  </div>

  <div class="row">
    <div class="land-separator"></div>

  </div>



</div> -->




<div class="container-fluid section-one-cont">


  <div class="row ">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-one-image" id='training-partner'>
      <h2 class="landing-heading sea-head s mobile-head">Lifecycle of Training Partner & <span class="blue-heading">Training
        Centre</span></h2>
      <img src="../../assets/images/landing-page-assets/laptop.png" class="img-responsive laptop-image" alt="laptop">

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section-one-content">
      <h2 class="landing-heading sea-head s laptop-head">Lifecycle of Training Partner & <span class="blue-heading">Training
          Centre</span></h2>
      <p class="section-one-para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima accusantium nemo qui
        impedit quisquam earum dolores odio doloribus ut quae commodi amet eius dolore sapiente, nulla fugiat aut
        accusamus? Eaque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, enim praesentium debitis officia
        culpa dicta fuga, ipsa ipsum tempora error, illo obcaecati minima fugiat similique impedit pariatur sit vero
        saepe!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur alias eligendi assumenda omnis vero sit soluta
        magnam, ipsum impedit corporis minus dolore commodi sunt eum esse modi necessitatibus numquam doloribus?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam quas porro facilis quisquam perspiciatis
        tempore distinctio dignissimos repellat incidunt. Incidunt laboriosam illum ut iusto maiores, sequi repellendus
        labore dolor ab.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos assumenda dolorum aspernatur accusantium tenetur
        quisquam itaque laborum praesentium modi dolores cumque, voluptas facere enim at. Architecto repudiandae
        voluptate vitae porro?
      </p>

        <div class="left-separator news-separator one-para-sep"></div>

    </div>


  </div>

</div>

<div class="container-fluid coursal-cont">
  <div id="ourStory" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#ourStory" data-slide-to="0" class="active"></li>
      <li data-target="#ourStory" data-slide-to="1"></li>
      <li data-target="#ourStory" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="our-story-main">


          <div class="container-fluid carousal-page">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h2 class="car-text car-mobile">Watch Our Story</h2>
              <img src="../../assets/images/landing-page-assets/image_1.png" class="img-responsive laptop-image"
                alt="Image">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-cont">
              <h2 class="car-text">Watch Our Story</h2>
              <p class="car-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima praesentium
                unde doloremque! Commodi soluta quae veniam! Ratione, ipsam nostrum fugiat voluptas nesciunt quasi
                dignissimos optio inventore, saepe facere nulla.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis temporibus ex odio suscipit
                minus sit sequi adipisci facere? Et praesentium natus illum porro animi! Et quo labore deserunt vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi tempora maxime consequatur
                repudiandae odio labore iste hic deleniti dolorem mollitia adipisci, ea, natus expedita dolore atque
                saepe quis fugiat?
              </p>

              <!-- <div class="white-separator"></div> -->
            </div>


          </div>


        </div>

      </div>

      <div class="item">
        <div class="our-story-main">

          <div class="container-fluid carousal-page">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h2 class="car-text car-mobile">Watch Our Story</h2>
              <img src="../../assets/images/landing-page-assets/image_1.png" class="img-responsive laptop-image"
                alt="Image">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-cont">
              <h2 class="car-text">Watch Our Story</h2>
              <p class="car-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima praesentium
                unde doloremque! Commodi soluta quae veniam! Ratione, ipsam nostrum fugiat voluptas nesciunt quasi
                dignissimos optio inventore, saepe facere nulla.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis temporibus ex odio suscipit
                minus sit sequi adipisci facere? Et praesentium natus illum porro animi! Et quo labore deserunt vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi tempora maxime consequatur
                repudiandae odio labore iste hic deleniti dolorem mollitia adipisci, ea, natus expedita dolore atque
                saepe quis fugiat?
              </p>

            </div>

          </div>

        </div>
      </div>

      <div class="item">
        <div class="our-story-main">
          <div class="container-fluid carousal-page">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h2 class="car-text car-mobile">Watch Our Story</h2>
              <img src="../../assets/images/landing-page-assets/image_1.png" class="img-responsive laptop-image"
                alt="Image">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-cont">
              <h2 class="car-text">Watch Our Story</h2>
              <p class="car-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima praesentium
                unde doloremque! Commodi soluta quae veniam! Ratione, ipsam nostrum fugiat voluptas nesciunt quasi
                dignissimos optio inventore, saepe facere nulla.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis temporibus ex odio suscipit
                minus sit sequi adipisci facere? Et praesentium natus illum porro animi! Et quo labore deserunt vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi tempora maxime consequatur
                repudiandae odio labore iste hic deleniti dolorem mollitia adipisci, ea, natus expedita dolore atque
                saepe quis fugiat?
              </p>

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#ourStory" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#ourStory" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container-fluid news-cont" id="news">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 new-sub">
      <h2 class="new-head"> News & <span class="blue-color-text">Updates</span></h2>
      <div class="row">
        <div class="left-separator news-separator"></div>
      </div>
      <div class="row image-cont">
        <img src="../../assets/images/landing-page-assets/jobs.png" class="img-responsive" alt="Image">
      </div>

      <div class="row">
        <h4 class="new-subtitle">Latest News 2020</h4>
        <div class="timeOfUpdate"> <span class="time">14-2-2020,</span><span class="time">Srikakulam</span></div>

      </div>

      <div class="row">
        <p class="updatePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa blanditiis ea ducimus rem perspiciatis,
          quo exercitationem  Ipsam culpa blanditiis ea ducimus rem
        </p>
      </div>

      <div class="row">
        <button type="button" class="btn  btn-default more-news">More News</button>
      </div>








    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 new-sub">
      <h2 class="new-head job-head">Upcoming <span class="blue-color-text">job fairs</span></h2>
      <div class="row">
        <div class="left-separator news-separator"></div>
      </div>
      <div class="row image-cont">
        <img src="../../assets/images/landing-page-assets/jobs_1.png" class="img-responsive" alt="Image">
      </div>
      <div class="row">
        <h4 class="new-subtitle">Latest jobs 2020</h4>
        <div class="timeOfUpdate"> <span class="time">14-2-2020,</span><span class="time">Srikakulam</span></div>

      </div>

      <div class="row">
        <p class="updatePara" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam culpa blanditiis ea ducimus rem perspiciatis,
          quo exercitationem  Ipsam culpa blanditiis ea ducimus rem
        </p>
      </div>

      <div class="row">
        <button type="button" class="btn  btn-default more-news">More</button>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 new-sub">
      <h2 class="new-head">Photo <span class="blue-color-text">Gallery</span></h2>
      <div class="row">
        <div class="left-separator news-separator"></div>
      </div>

      <div class="row galleryHead">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 img-view">

          <img src="../../assets/images/landing-page-assets/gallery-1.jpg" class="img-responsive gal-img" alt="Image">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 img-view">

          <img src="../../assets/images/landing-page-assets/gallery-2.jpg" class="img-responsive gal-img" alt="Image">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 img-view">

          <img src="../../assets/images/landing-page-assets/gallery-image-2.jpg" class="img-responsive gal-img" alt="Image">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 img-view">

          <img src="../../assets/images/landing-page-assets/gallery-image-3.jpg" class="img-responsive gal-img" alt="Image">

        </div>


      </div>
      <div class="row">
        <button type="button" class="btn  btn-default more-new">More</button>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid social-cont">
  <h2  class="landing-heading social-head">Social <span class="social-blue">Media</span></h2>

  <div class="row">
    <div class="land-separator"></div>

  </div>
        <div class="container-fluid iframe-cont">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 fb-cont">

              <div class="col-xs-12 col-sm- col-md-2 col-lg-2 social-icon-mar">

                   <img src="../../assets/images/landing-page-assets/fb.png" class="img-responsive center-block social-icon-all" alt="Image">

               </div>

               <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="teaser teaser-facebook" data-mh="teasers">
									<div id="fb-root"></div>
									<div class="fb-page fb_iframe_widget"
										data-href="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
										data-tabs="timeline" data-height="350" data-small-header="true"
										data-adapt-container-width="true" data-hide-cover="true"
										data-show-facepile="true" fb-xfbml-state="rendered"
										fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=191200217598004&amp;container_width=350&amp;height=490&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FMySkillsVET%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline">
										<span style="vertical-align: bottom;height: 350px;"><iframe
												name="fb62dc622cbafc" width="100%" height="auto"
												title="fb:page Facebook Social Plugin" frameborder="0"
												allowtransparency="true" allowfullscreen="true" scrolling="no"
												allow="encrypted-media"
												src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
												style="border: none; visibility: visible; height: 490px;"
												class=""></iframe></span></div>
								</div>
								<!-- <a class="btn btn-dark-teal pull-right"
									href="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
									target="_blank" rel="noopener">Facebook</a> -->
               </div>


          </div>

       

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 fb-cont">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 social-icon-mar">

                <img src="../../assets/images/landing-page-assets/tw.png" class="img-responsive center-block social-icon-all" alt="Image">

            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-top:3%;">
              <!-- <ngx-twitter-timeline style="height:450px; overflow: scroll;"
              [data]="{sourceType: 'url', url: 'https://twitter.com/AP_Skill?s=20'}"
              [opts]="{tweetLimit:5,height:600}"
          ></ngx-twitter-timeline> -->
          <a class="twitter-timeline" data-height="500" href="https://twitter.com/AP_Skill?ref_src=twsrc%5Etfw">Tweets by AP_Skill</a>

            </div>


       </div>
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 fb-cont">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 social-icon-mar">

            <img src="../../assets/images/landing-page-assets/tw.png" class="img-responsive center-block social-icon-all" alt="Image">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="padding-top:3%;">
          <!-- <ngx-twitter-timeline style="height:450px; overflow: scroll;"
          [data]="{sourceType: 'url', url: 'https://twitter.com/AP_Skill?s=20'}"
          [opts]="{tweetLimit:5,height:600}"
      ></ngx-twitter-timeline> -->
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/AP_Skill?ref_src=twsrc%5Etfw">Tweets by AP_Skill</a>

        </div>


   </div>

        </div>


        

        <div class="container desktop-car">
          <div id="partner" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol style="bottom:-50px;"  class="carousel-indicators">
              <li data-target="#partner" data-slide-to="0" class="active"></li>
              <li data-target="#partner" data-slide-to="1"></li>
              <li data-target="#partner" data-slide-to="2"></li>
              <li data-target="#partner" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <img src="../../assets/images/landing-page-assets/AP_Govt_logo.png" class="img-responsive" alt="Image">
                    </div>
               
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <img src="../../assets/images/landing-page-assets/epragati.jpg" class="img-responsive" alt="Image">
               </div>
               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/images/landing-page-assets/AP_Govt_logo.png" class="img-responsive" alt="Image">
             </div>
              </div>
              </div>
              <div class="item ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/epragati.jpg" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      
                      <img src="../../assets/images/landing-page-assets/AP_Govt_logo.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/epragati.jpg" class="img-responsive" alt="Image">
                    </div>
                </div>
              </div>
              <div class="item ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/smart.jpg" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/smart.jpg" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/smart.jpg" class="img-responsive" alt="Image">
                    </div>
                </div>
              </div>
              <div class="item ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/worldskillsindia.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/worldskillsindia.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <img src="../../assets/images/landing-page-assets/worldskillsindia.png" class="img-responsive" alt="Image">
                    </div>
                </div>
              </div>


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#partner" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#partner" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

</div>


<div class="container-fliud footer">



  <div class="container  " id="quick-links">

        <div class="row footer-main">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <ul class="footer-menu-list">
                <li><a>Home sector skill council</a></li>
                <li><a> tp scheme help video</a></li>
                <li><a>National Career service</a></li>
                <li><a>user manuals</a></li>
                <li><a>sector ssc</a></li>
                <li><a>a7a knowledge bank</a></li>
                <li><a>a7a faq's</a></li>
                <li><a>pmkvy a7c guidelines</a></li>
                <li><a>disclaimer</a></li>

                  </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <ul class="footer-menu-list">
            <li><a>privacy policy</a></li>
            <li><a>terms & conditions</a></li>
            <li><a>contact us</a> </li>
            <li><a>qp listing</a></li>
            <li><a>borrowed listing</a></li>
            <li><a>scpwd borrowed qp</a></li>
            <li><a>listing</a></li>
            <li><a>verify documents</a></li>
            <li><a>disclaimer</a></li>

              </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            <div class="row adress-block">
                <p>
                <img src="../../assets/images/landing-page-assets/address.png" class="img-responsive footer-icon" alt="address"> Vijayawada, Andhra Pradesh.
                </p>
                <p>
                  <img src="../../assets/images/landing-page-assets/mobile.png" class="img-responsive footer-icon" alt="address"> 1800-425-2422
                </p>
                <p>
                  <img src="../../assets/images/landing-page-assets/email.png"  class="img-responsive footer-icon" alt="address"> enquiry@apssdc.com
                </p>
            </div>


       </div>
       <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 copystatus23">
        <a href=""><img src="../../assets/images/landing-page-assets/f_facebook.png" alt="fb"></a>
        <a href=""><img src="../../assets/images/landing-page-assets/f_twitter.png" alt="twitter"></a>

      </div>
        </div>




  </div>

  <div class="container-fluid">
    <div class="row copyright-footer">

      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 copystatus ">
          Copyright &copy; 2020 Vishist Business Solutions Pvt Ltd. All rights reserved.
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 copystatus2">
        <a href=""><img src="../../assets/images/landing-page-assets/f_facebook.png" alt="fb"></a>
        <a href=""><img src="../../assets/images/landing-page-assets/f_twitter.png" alt="twitter"></a>

      </div>


</div>
  </div>

<router-outlet></router-outlet>

</div>



