<div class="landing-page">
	<header class="">
		<div class="row header-row">
			<div class="top-bar-menu">
				<ul class="top-menu-list">
					<li class="top-menu-item">
						<a class="no-style-on-a" href="https://sdms.symphonysummit.com/" target="_blank">
							<span>
								<img alt="" src="./assets/images/helpline.png">
							</span> Technical Support</a>
					</li>

					<li class="top-menu-item">

						<a class="no-style-on-a" href="/login"> Login</a>

					</li>
					<li class="top-menu-item">
						<a class="no-style-on-a" href="/registration">Register</a>
					</li>
					<li class="top-menu-item">
						Notices
					</li>

				</ul>

			</div>
			<div class="tricolor">
				<div class="tricolor_items f_color"></div>
				<div class="tricolor_items s_color"></div>
				<div class="tricolor_items t_color"></div>
			</div>
		</div>




		<div class="m-header__top">
			<div
				class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
				<div class="m-stack m-stack--ver m-stack--desktop container desktop-container-show">
					<div class="row">


						<div class="m-stack__item m-brand col-lg-12">
							<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
								<div class="m-stack__item m-stack__item--middle m-brand__logo">
									<a class="m-brand__logo-wrapper" routerlink="/" href="/">
										<img alt="" src="./assets/images/ap_aproved-newheader.png" class="apssdc-logo"
											style="width:1219px; height:97px">
									</a>
								</div>
							</div>
						</div>




						<!-- 	<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
							<div class="m-topbar  m-stack m-stack--ver m-stack--general">
								<div class="m-stack__item m-topbar__nav-wrapper">
									<ul class="m-topbar__nav m-nav m-nav--inline">

									</ul>
								</div>
							</div>
						</div> -->

					</div>
				</div>

				<!-- <div class="m-stack m-stack--ver m-stack--desktop mobile-logo-show">

					<div class="m-stack__item m-brand">
						<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
							<div class="m-stack__item m-stack__item--middle m-brand__logo">
								<a class="m-brand__logo-wrapper" routerlink="/" href="/">
									<img alt="" class="logo-img" src="./assets/images/skill-india-logo.png">
								</a>
							</div>
							<div class="m-stack__item m-stack__item--middle m-brand__tools">


								<a class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block"
									href="javascript:;" id="m_aside_header_menu_mobile_toggle">
									<span></span>
								</a>




							</div>
						</div>
					</div>


					<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
						<div class="m-topbar  m-stack m-stack--ver m-stack--general">
							<div class="m-stack__item m-topbar__nav-wrapper">
								<ul class="m-topbar__nav m-nav m-nav--inline">

								</ul>
							</div>
						</div>
					</div>

				</div> -->
			</div>
		</div>





	</header>

	<div class="m-container m-container--responsive m-container--xxl m-page__container m-body" id="home">
		<div class="bgvideo playing">
			<!-- 	<div class="video-caption">
				<h1 class="video-caption-title">
					<br><img style="display: block; margin-left: auto; margin-right: auto;" class="img-responsive hidden-xs hidden-sm" src="/media/1450/myskills_logo_no_outline.png?width=550&amp;height=191" alt="" width="550" height="191" data-id="36699">
					 <span class="sr-only">MySkills</span>
				</h1>
			</div> -->
			<div class="video-caption">
				<section class=" video-caption-title cover text-center">

					<div class="cover-container pb-5">
						<div class="">
							<div class="m-header__bottom ">
								<div
									class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
									<div class="m-stack m-stack--ver m-stack--desktop">

										<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
											<button
												class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
												id="m_aside_header_menu_mobile_close_btn">
												<i class="la la-close"></i>
											</button>

											<div class="" style="padding-left: 100px;
											margin-left: 100px;">
												<ul class=" " style="padding-left: 100px;
												">
													<li aria-haspopup="true" class="nav-list "
														style="padding-right:20px">
														<a class="m-menu__link " href="#home">
															<span class="m-menu__link-text">Home</span>
														</a>
													</li>
														<li aria-haspopup="true" class="nav-list "
														style="padding-right:20px">
														<a class="m-menu__link " href="#candidate">
															<span class="m-menu__link-text">Search Courses</span>
														</a>
													</li>
													<li aria-haspopup="true" class="nav-list"
														style="padding-right:20px">
														<a class="m-menu__link " href="#tpLifecycle">
															<span class="m-menu__link-text">Training Partner &
																Centre</span>
														</a>
													</li>
												
													<li aria-haspopup="true" class="nav-list "
														style="padding-right:20px">
														<a class="m-menu__link " href="#ssc">
															<span class="m-menu__link-text">News & Social Events</span>
														</a>
													</li>

													<li aria-haspopup="true" class="nav-list"
														style="padding-right:20px">
														<a class="m-menu__link " href="#qp">
															<span class="m-menu__link-text">Quick Links</span>
														</a>
													</li>


												</ul>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</section>

			</div>

			<div class="video-area" style="max-height: 600px;">
				<video playsinline="" autoplay="" muted="" defaultmuted="" loop="" poster="">
					<source src="https://publish.viostream.com/player/download/bxixurbb9jft11" type="video/mp4">
				</video>
			</div>
			<button id="video-control" type="button" class="glyphicon glyphicon-pause">
				<span class="sr-only">Pause background video</span>
			</button>
		</div>
		<!-- <section  class="banner">
			<div  class="container">
				<div  class="row">
					<div  class="col-lg-7 col-md-6">
						<div  class="banner-left-content">
							<div  class="banner-left-top-content">
								<h2 >
									Skill India Portal
								</h2>
								<h5 >
									A Skill Development Management System
								</h5>
								<div  class="sub-content">
									<p  class="sub-content-item ng-binding">
										An initiative by National Skill Development Corporation of India
									</p>
								</div>
							</div>
						</div>
						<div  class="registaration-carousal">
							<div  class="carousel slide" data-ride="carousel" id="carouselExampleControls">
								<div  class="carousel-inner">
									<div  class="carousel-item active">
										<ul  class="restration-user">
											<li  class="user-role">
												<div  class="slider-img">
													<img  alt="" src="../../../assets/images/user2.png">
												</div>
												<p  class="user-text">
													<b >Register as a Training Provider</b>
												</p>
											</li>
											<li  class="user-role">
												<div  class="slider-img">
													<img  alt="" src="../../../assets/images/user1.png">
												</div>
												<p  class="user-text">
													<b >Register as a Candidate</b>
												</p>
											</li>
										</ul>
									</div>
									<div  class="carousel-item">
										<ul  class="restration-user">
											<li  class="user-role">
												<div  class="slider-img">
													<img  alt="" src="../../../assets/images/user1.png">
												</div>
												<p  class="user-text">
													<b >Register as an Assessor</b>
												</p>
											</li>
											<li  class="user-role">
												<div  class="slider-img">
													<img  alt="" src="../../../assets/images/user1.png">
												</div>
												<p  class="user-text">
													<b >Register as a Trainer</b>
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div  class="indicator">
								<div >
									<a  class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button" style="margin-left: -63px">
										<span  aria-hidden="true" class="carousel-control-prev-icon">
											<i  class="fa fa-angle-left"></i>
										</span>
									</a>
								</div>

								<div >
									<a  class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
										<span  aria-hidden="true" class="carousel-control-next-icon">
											<i  class="fa fa-angle-right"></i>
										</span>
									</a>
								</div>

							</div>
						</div>
						<div  class="veiw-analytics-btn-div text-center" id="tpLifecycle">
							
						</div>
					</div>
					<div  class="col-lg-5 col-md-6">
						
					</div>
				</div>
			</div>
		</section> -->
		<div class="row">
			<marquee direction="scroll">
				<span
					style="padding-left:200px; font-size:17px;font-weight:600;color:yellow;text-shadow: 5px 5px 0px rgba(0,0,0,0.1);z-index:1000">
					• PMKVY is Live on Skill India Portal w.e.f 21.11.2019.
				</span>




				<span
					style="font-weight:600;color:white;text-shadow: 5px 5px 0px rgba(0,0,0,0.1);z-index:1000;font-size:17px">
					• For general queries and scheme related matters, the walk-ins are from 3 pm to 5 pm every Wednesday
					and Friday at NSDC Aerocity office.
				</span>
				<span
					style="padding-left:200px; font-size:17px;font-weight:600;color:yellow;text-shadow: 5px 5px 0px rgba(0,0,0,0.1);z-index:1000">

					<a href="https://nsdcuatpublic.s3.ap-south-1.amazonaws.com/smart/ImportantNoticeonValidityofConditionalAccreditationandRevisedAccreditationStandardsGradingMetrics.pdf"
						id="myLink" target="_blank">
						• Important Notice on Validity of Conditional to Accreditation and Revised Accreditation
						Standards Grading Metrics.
					</a>
					• Module to convert Conditional Accreditation to Accreditation and Change the Trainer is now live.
					• Please update to latest mobile application for all process related to Centre Accreditation &amp;
					Affiliation.
				</span>
				<span
					style="padding-left:200px;font-size:17px;font-weight:600;color:white;text-shadow: 5px 5px 0px rgba(0,0,0,0.1);z-index:1000">
					• For addition of New TCs/Sectors/Courses related to MES Courses, TPs to contact their respective
					Line Ministry.
					• For all courses under MES, the only permitted mode of assessment is through SSC. Batches submitted
					through Self / Third party mode stands cancelled.
				</span>
			</marquee>

		</div>
		<section class="lifecycle-tp-tc">
			<div class="container lifecycle-container">

				<div class="row">
					<section class="search">
					<h1 class="highlight">
						<strong>Search Courses</strong>
					</h1>
					<p class="padding-left-170">Find and compare the outcomes, durations and locations of nationally-accredited training from registered training providers.</p>
					<div class="search-horizontal">
                         <form class="" style="padding-left:170px">
						
						<i class="fa fa-search font-30"  style="display: inline-table; position:absolute ; padding-top:7px;padding-left:10px ; "></i>
							 <input type="text" class="form-control search-input " placeholder="search courses or occupations..."   style="display: inline-table; padding-left:40px">
						
							<i class="fa fa-map-marker font-30"  style="display: inline-table; position:absolute ; padding-top:7px;padding-left:10px ; "></i>
								 <input type="text" class="form-control search-input " placeholder="Enter a location..."   style="display: inline-table; padding-left:40px">
								 <i class="fa fa-crosshairs font-30 navigation-icon"  style="display: inline-table; position:absolute ; padding-top:7px;padding-left:10px ; "></i>
								 <a href=" " type="button"  role="button" class="btn btn-primary search-button" value="search"> Search</a>
							
						 </form>
					</div>
					</section>
				</div>
				<div class="row">
					<h2 class="lifecycle-heading">
						Lifecycle of Training partner &amp; Training Centre
					</h2>
				</div>
				<div class="row lifecycle-bg">
					<div class="col-lg-12 col-md-12">
						<p class="text-center sub-heading">
							Lifecycle of Training partner &amp; Training Centre
						</p>
					</div>
				</div>
				<div class="LifeCycle-steps-div">
					<ul class="lifecycle-steps">
						<li class="steps-desc">
							Training Partner Registration &amp; Training Centre Creation
						</li>
						<li class="steps-desc">
							Accreditation of Training Centre
						</li>
						<li class="steps-desc">
							Affiliation of Training Centre’s Added Job Roles
						</li>
						<li class="steps-desc">
							Continuous Monitoring
						</li>
						<li class="steps-desc">
							Renewal of Accreditation
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="lifecycle-description">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="lifecycle-description-image">
							<img alt="" src="./assets/images/tp-lifecycle.png">
						</div>
					</div>
					<div class="col-lg-9 col-md-9 lifecycle-content">
						<div class="lifecycle-description-content">
							<h2 class="m--font-info">
								Lifecycle of Training Partner &amp; Training Centre
							</h2>
							<p>With a holistic approach towards enabling a strong skill development system, the
								Lifecycle of Training Partner and Training Centre is aimed at building a quality assured
								process, meeting the required parameters of the Training
								Provider(s) and the Training Centre(s). To achieve this objective, NSDC provides a
								single-window clearance system to the Training Providers (TPs) with the following
								features:
							</p>
							<ul>
								<li>Transparent, unified, one-stop solution with mandated time-bound delivery of
									accreditation and affiliation of Training Centres</li>
								<li>Single, front-end portal interface for Training Providers, ensuring accessibility to
									Sector Skill Councils (SSCs) and Schemes</li>
								<li>Providing opportunity to stakeholders to perform continuous technology-driven
									monitoring of the Training Centres</li>
								<li>Evaluating the performance of skill development programs objectively, to foster
									excellence and build effectiveness while delivering competency-based training</li>
								<li>Enabling the trainees and other stakeholders to make informed choices regarding
									Training Centres</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row" id="qp">
					<div class="col-lg-12 col-md-12">
						<div class="lifecycle-description-pdf-list">
							<ul>
								<li>
									<img alt="" src="./assets/images/layer-97.png" class="lifecycle-img">
									<span class="m--font-info">

										<a class="a_link"
											href="https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/EquipmentDetailJobRoleWise23Apr19.xlsx"
											target="_blank">Equipment Details- Job Role Wise</a>
									</span>
								</li>
								<li>
									<img alt="" src="./assets/images/layer-97.png" class="lifecycle-img">
									<span class="m--font-info">

										<a class="a_link"
											href="https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/LabAreadetails_JobRoleWise_11Apr19.xlsx"
											target="_blank">Lab Area Details- Job Role Wise</a>
									</span>
								</li>
								<li>
									<img alt="" src="./assets/images/layer-97.png" class="lifecycle-img">
									<span class="m--font-info">
										<a class="a_link"
											href="https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/AccreditationGradingMetricsSkillsEcosystemGuidelines16012017.pdf"
											target="_blank">Accreditation Grading Metrics - Skill
											Ecosystem Guidelines</a>

									</span>
								</li>
								<li>
									<img alt="" src="./assets/images/layer-97.png" class="lifecycle-img">
									<span class="m--font-info">
										<a class="a_link"
											href="https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/TrainersQualifications-JobRoleswise.xlsx"
											target="_blank">Trainer Qualification -Job Role Wise</a>
									</span>
								</li>
								<li>
									<img alt="" src="./assets/images/layer-97.png" class="lifecycle-img">
									<span class="m--font-info">
										<a class="a_link"
											href="
                                            https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/CentreAccreditationAffiliationGuidelinesVersion.pdf"
											target="_blank">Guidelines of Accreditation, Affiliation and
											continuous Monitoring of Training Centres</a>

									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="lifecycle-description" style="background-color:#f1f3f4">
			<br>
			<br>
			<div class="container">
				<div class="row">
					<div class="container speacial-container">
						<div class="row">
							<div class="col-lg-4 news-boxes clearfix">
								<h2 class="teaser-title">News & Updates</h2>
								<div class="teaser" data-mh="teasers" style="height: 505px; padding:1.5rem;">



									<div class="teaser-item">
										<!-- <h3 class="teaser-item--title"><a class="teaser-item--title-link" href="/more/news-events/news/information-for-students-about-the-novel-coronavirus/" data-bind="trackEvent: { category: 'News_Item_Click', action: 'Information for students about the novel coronavirus', label: '1'}">Information for students about the novel coronavirus</a></h3>
										<h4 class="teaser-item--date">30 January 2020</h4>
										<div class="summary teaser-item--summary comp-truncate">
											The Australian Government Department of Health has provided updated information on the novel coronavirus for the education and training sector.
										</div>
										<a class="teaser-item--link" href="/more/news-events/news/information-for-students-about-the-novel-coronavirus/" data-bind="trackEvent: { category: 'News_Item_Click', action: 'Information for students about the novel coronavirus', label: '1'}">
											Read More
										</a> -->
										<div class="col-lg-10 vm"
											style="background-color: #f5f6f7;     border-radius: 30px">
											APSSDC - Kia Motor India BTC Training Program(Only Diploma
											Candidates) <a href="https://www.apssdc.in/home/kiaIntro" target="_blank">
												Click Here To Apply</a>
										</div>
									</div>
									<div class="teaser-item" style="padding-top: 30px;">
										<!-- <h3 class="teaser-item--title"><a class="teaser-item--title-link" href="/more/news-events/news/have-your-say-help-improve-the-delivery-of-careers-information-in-australia/" data-bind="trackEvent: { category: 'News_Item_Click', action: 'Have your say! Help improve the delivery of careers information in Australia', label: '2'}">Have your say! Help improve the delivery of careers information in Australia</a></h3>
										<h4 class="teaser-item--date">13 December 2019</h4>
										<div class="summary teaser-item--summary comp-truncate">
											The Institute has commenced co-designing the digital platform by undertaking targeted research with career advisors, influencers, employers and career seekers – and welcomes your feedback.
										</div>
										<a class="teaser-item--link" href="/more/news-events/news/have-your-say-help-improve-the-delivery-of-careers-information-in-australia/" data-bind="trackEvent: { category: 'News_Item_Click', action: 'Have your say! Help improve the delivery of careers information in Australia', label: '2'}">
											Read More
										</a> -->
										<div class="col-lg-10 vm"
											style="background-color:  #f5f6f7;    border-radius: 30px">
											APSSDC -Nurses Recruitment <a
												href="https://drive.google.com/file/d/1SIFMq5YG7d94MJygO-P9cbyQVRsQeZHG/view?usp=sharing"
												target="_blank"> Click Here To Apply</a>
										</div>
									</div>
								</div>
								<a class="btn btn-dark-teal pull-right" href="/more/news-events/all-news/">More News</a>
							</div>

							<div class="col-lg-4 news-boxes clearfix">
								<h2 class="teaser-title">UPCOMING JOB FAIRS</h2>
								<div class="teaser" data-mh="teasers" style="height: 505px;">
									<div class="event-item mb-3">
										<div class="row">
											<div class="col-lg-4 vm">
												<div class="event-info">

													<h3> 11-02-2020 <small style="word-break: break-all;">
															SRIKAKULAM
														</small> </h3>
												</div>
											</div>
											<div class="col-lg-8 pl-0 vertical-start  listjobmelas" id="1343">Srikakulam
												Skill Connect Drive 12-Feb-2020@ Padmavathi Degree College,
												Narasannapeta.
												<span class="blink">NEW</span>
											</div>
										</div>
										<div class="row" style="margin-top:30px">
											<div class="col-lg-4 vm">
												<div class="event-info">

													<h3> 12-02-2020 <small style="word-break: break-all;">
														KRISHNA
														</small> </h3>
												</div>
											</div>
											<div class="col-lg-8 pl-0 vertical-start  listjobmelas" id="1343">Krishna
												Skill Connect Drive 13-Feb-2020@ SG & AG Degree College,
												Vuyyuru.
												<span class="blink">NEW</span>
											</div>
										</div>
									</div>






								</div>
								<a class="btn btn-dark-teal pull-right" href="/more/news-events/all-events/">More
									Events</a>
							</div>

							<div class="col-lg-4 news-boxes clearfix">
								<h2 class="teaser-title">Facebook</h2>
								<div class="teaser teaser-facebook" data-mh="teasers" style="height: 505px;">
									<div id="fb-root"></div>
									<div class="fb-page fb_iframe_widget"
										data-href="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
										data-tabs="timeline" data-height="490" data-small-header="true"
										data-adapt-container-width="true" data-hide-cover="true"
										data-show-facepile="true" fb-xfbml-state="rendered"
										fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=191200217598004&amp;container_width=350&amp;height=490&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FMySkillsVET%2F&amp;locale=en_GB&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline">
										<span style="vertical-align: bottom; width: 340px; height: 490px;"><iframe
												name="fb62dc622cbafc" width="1000px" height="490px"
												title="fb:page Facebook Social Plugin" frameborder="0"
												allowtransparency="true" allowfullscreen="true" scrolling="no"
												allow="encrypted-media"
												src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
												style="border: none; visibility: visible; width: 340px; height: 490px;"
												class=""></iframe></span></div>
								</div>
								<a class="btn btn-dark-teal pull-right"
									href="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapssdcskilldevelopment%2F&tabs=timeline&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=594476357607992"
									target="_blank" rel="noopener">Facebook</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div  class="row">
					<div  class="container btn-width">
						<div  class="registaration-carousal col-12">

							<div  class="carousel slide" data-ride="carousel" id="buttonsTakshaShila">
								
								<div  class="carousel-inner" style="margin-left: 6%;">
									<div  class="carousel-item active" style="margin-top:6%">
										<ul  class="restration-user">
											<li >
												<button  class="btn btn-outline-info color-info btn-size m-btn--icon" routerlink="./training-calendar" type="button" tabindex="0">
													<b >
														<i  class="fa flaticon-calendar"></i>
													</b>
													&nbsp;&nbsp;Training Calendar
												</button>
											</li>
											<li >
												<button  class="btn btn-outline-info color-info btn-size m-btn--icon" routerlink="./direct-registration" type="button" tabindex="0">
													<b >
														<i  class="fa flaticon-logout"></i>
													</b>
													&nbsp;&nbsp;Register/Login
												</button>
											</li>
											<li >
												
												<button  class="btn btn-outline-info color-info btn-size m-btn--icon" routerlink="./list-trainer-assessor" type="button" tabindex="0">
													<b >
														<i  class="fa fa-user"></i>
													</b>
													&nbsp;&nbsp;List of Trainer/Assessor
												</button>
											</li>
										</ul>
									</div>
									<div  class="carousel-item" style="margin-top:6%;">
										<ul  class="restration-user">
											<li >
												<a  class="btn btn-outline-info color-info btn-size m-btn--icon" href="https://nsdcindia.org/guidelines-0" style="width: 331px;" target="_blank">
													<i  class="fa flaticon-list-2"></i> &nbsp;&nbsp;Guidelines &amp; FAQs
												</a>
											</li>
											<li  style="width: 20px;"></li>
											<li >
												<button  class="btn btn-outline-info color-info btn-size m-btn--icon" routerlink="./tot-user-Manuals" style="width: 331px" type="button" tabindex="0">
													<b >
														<i  class="fa flaticon-clock"></i>
													</b>
													&nbsp;&nbsp;User Manuals
												</button>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div  class="indicator">
								<a  class="carousel-control-prev" data-slide="prev" href="#buttonsTakshaShila" role="button">
									<span  aria-hidden="true" class="carousel-control-prev-icon">
										<i  class="fa fa-angle-left"></i>
									</span>
								</a>
								<a  class="carousel-control-next" data-slide="next" href="#buttonsTakshaShila" role="button" style="right: 126px;">
									<span  aria-hidden="true" class="carousel-control-next-icon">
										<i  class="fa fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div> -->



		</section>



		<section class="candidate-section">

		</section>

		<section class="footer" id="footer">
<!-- 			<owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >  
				<div class="item" *ngFor="let img of Images">  
				<div style="align-content: center">  
				<img style="height: 260px;width:100%"src={{img}}/>  
				</div>  
				</div>  
				</owl-carousel>   -->
				<div class="owl-carousel owl-theme link-carousel mt-5 owl-loaded owl-drag">
				
				
				
				
				
				
					<div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0.25s ease 0s; width: 4253px; transform: translate3d(-1329px, 0px, 0px);"><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="http://pmkvyofficial.org/" style="background:url('images/logos/pmkya_0.jpg');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.ap.gov.in/" style="background:url('images/logos/AP_Govt_logo.png');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://myap.e-pragati.in/" style="background:url('images/logos/epragati.jpg');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://smart.nsdcindia.org/" style="background:url('images/logos/smart.jpg');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.worldskillsindia.co.in/" style="background:url('images/logos/worldskillsindia.png');"></a>
						</div></div><div class="owl-item active" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.msde.gov.in/who.html" style="background:url('images/logos/MSDE.jpg');">
								
							</a>
						</div></div><div class="owl-item active" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="http://pmkvyofficial.org/" style="background:url('images/logos/pmkya_0.jpg');"></a>
						</div></div><div class="owl-item active center" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.ap.gov.in/" style="background:url('images/logos/AP_Govt_logo.png');"></a>
						</div></div><div class="owl-item active" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://myap.e-pragati.in/" style="background:url('images/logos/epragati.jpg');"></a>
						</div></div><div class="owl-item active" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://smart.nsdcindia.org/" style="background:url('images/logos/smart.jpg');"></a>
						</div></div><div class="owl-item" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.worldskillsindia.co.in/" style="background:url('images/logos/worldskillsindia.png');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.msde.gov.in/who.html" style="background:url('images/logos/MSDE.jpg');">
								
							</a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="http://pmkvyofficial.org/" style="background:url('images/logos/pmkya_0.jpg');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://www.ap.gov.in/" style="background:url('images/logos/AP_Govt_logo.png');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://myap.e-pragati.in/" style="background:url('images/logos/epragati.jpg');"></a>
						</div></div><div class="owl-item cloned" style="width: 255.8px; margin-right: 10px;"><div class="item">
							<a target="_blank" href="https://smart.nsdcindia.org/" style="background:url('images/logos/smart.jpg');"></a>
						</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<ul class="quick-links">
							<h5>Quick Links</h5>
							<li></li>
							<li class="links">
								<a href="#home">Home</a>
							</li>
							<li class="links">
								<a href="http://www.skilldevelopment.gov.in/ssc.html" target="_blank">Sector Skill
									Council</a>
							</li>
							<li class="links">
								<a href="https://s3.ap-south-1.amazonaws.com/nsdcuatpublic/videos/SkillIndiaPortal.mp4"
									target="_blank">TP Scheme Help Video</a>
							</li>
							<li class="links">
								<a href="https://www.ncs.gov.in/Pages/default.aspx" target="_blank">National
									Career Service</a>
							</li>
							<li class="links">
								<a routerlink="user-Manuals" href="/user-Manuals">User Manuals</a>
							</li>
							<li class="links">
								<a routerlink="Sector-ssc" href="/Sector-ssc">Sector &amp; SSC</a>
							</li>
							<li class="links">
								<a>A&amp;A Knowledge Bank</a>
							</li>
							<li class="links">
								<a>A&amp;A FAQs</a>
							</li>
							<li class="links">
								<a href="https://s3.ap-south-1.amazonaws.com/nsdctesttemplates/sdmsknowledgebank/CentreAccreditationAffiliationGuidelinesVersion.pdf"
									target="_blank">
									PMKVY A&amp;C Guidelines</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-2">
						<ul class="quick-links">
							<h5></h5>
							<br>
							<li class="links">
								<a href="javascript:;">Disclaimer</a>
							</li> <br>
							<li class="links">
								<a data-target="#m_modal_1_1" data-toggle="modal" href="javascript:;">Privacy Policy</a>
							</li>
							<li class="links">
								<a data-target="#m_modal_1_2" data-toggle="modal" href="javascript:;">Terms &amp;
									Conditions</a>
							</li>
							<li class="links">
								<a>Contact Us</a>
							</li><br>
							<li class="links">
								<a routerlink="./qpListings" href="/qpListings">QP Listing</a>
							</li>
							<li class="links">
								<a routerlink="./borrowedqpListings" href="/borrowedqpListings">Borrowed QP Listing</a>
							</li>
							<li class="links">
								<a routerlink="./scpwdqpListing" href="/scpwdqpListing">SCPwD Borrowed QP Listing</a>
							</li>

							<li>
								<a>Verify Document</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-6 social-section text-center">
						<h5>Connect with us:</h5>
						<li class="list-inline-item"><a class="fa fa-facebook  facebook-icon" style=" background-color: #365899;" href="https://www.facebook.com/apssdcskilldevelopment/ " target="_blank"></a></li>
						<li class="list-inline-item"><a class="fa fa-twitter  facebook-icon " style="background-color: #007bff;" href="https://twitter.com/AP_Skill" target="_blank"> </a></li>
						<li class="list-inline-item"><a class="fa fa-youtube-square  facebook-icon " style="background-color: #d41717;" href="https://www.youtube.com/channel/UCK8D1c7dqR8PVWnUPf49TPA" target="_blank"> </a></li>
						<li class="list-inline-item"><a class="fa fa-linkedin  facebook-icon " style="background-color: #3b2fb7;" href="https://www.linkedin.com/company/apssdcskilldevelopment/" target="_blank"> </a></li>
						<li class="list-inline-item"><a class="fa fa-instagram facebook-icon " style="background-color: #dc3545;" href="https://www.instagram.com/apskilldevelopment/" target="_blank"> </a></li>
						<!-- <ul class="list-inline social-icons">
							<li class="list-inline-item"><a href="https://www.facebook.com/apssdcskilldevelopment/ " target="_blank"><img src=".assets/images/facebook-logo.svg" alt=""></a></li>
							<li class="list-inline-item"><a href="https://twitter.com/AP_Skill" target="_blank"><img src=".assets/images/twitter.svg" alt=""></a></li>
							<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCK8D1c7dqR8PVWnUPf49TPA" target="_blank"><img src=".assets/images/youtube.svg" alt=""></a></li>	
							<li class="list-inline-item"><a href="https://www.linkedin.com/company/apssdcskilldevelopment/" target="_blank"><img src=".assets/images/linkedin-logo.svg" alt=""></a></li>
							<li class="list-inline-item"><a href="https://www.instagram.com/apskilldevelopment/" target="_blank"><img src=".assets/images/instagramCircleLogo.png" style="height: 60px;width: 60px;" alt=""></a></li>
						</ul> -->
					</div>

					
				</div>
			</div>
		</section>
		<section class="copyright-footer">

		</section>
	</div>