<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header " style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-80">
                            <span class="header-text">
                                Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick="toggleDisplay()">

                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">CAN19975</div>
                        </div>
                        <!--      <div *ngIf="!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        <li class="list-li"> <a href="/candidate" 
                                            class="link-style">Dashboard</a></li>
                                 
                                    <li class="list-li"><a href="/candidate-myprofile"
                                            class="link-style">My Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>
    <div class="col">


        <div class="row">
            <div class="col-lg-12 padding-top-180">
                <div class="search-body">
                    <div class="dashboard-header">
                        <div class="row padding-bottom-25">

                            <div class="dashboard-subheader">
                                <div class="dashboard-content">
                                    My Dashboard
                                </div>
                                <ul class="dashboard-ul">
                                    <li class="dashboard-li">

                                    </li>
                                    <li class="dashboard-li ">
                                        -
                                    </li>
                                    <li class="dashboard-li text">

                                        View All Training Centre
                                    </li>

                                </ul>

                            </div>

                        </div>

                        
                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="all-rozgar-melas-subheading">
                                        All Rozgar Melas
                                    </div>
                                </div>
                            </div>
                       
<hr/>

                        <div  aria-label="Small button group"
                            class="btn-group btn-group-sm btn-custom-group" role="group" style="    margin-top: 20px;
                            margin-bottom: 20px;">
                            <a  type="button" role="button"  href="/candidate-viewallrozgarmelas" 
                                class="btn btn-primary">Upcoming Rozgar Melas</a>
                            <a  type="button" href="/candidate-enrolledrozgarmelas" role="button"
                                class="btn btn-outline-info cust-btn1 upcomingRozgarMelas">Enrolled /
                                Attended Rozgar Mela</a>
                        </div>

                        <div class="dashboard-body">
                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="request-header">
                                        Upcoming Rozgar Melas
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12 form-padding">
                             <form [formGroup]="viewMelasForm" (ngSubmit)="onSubmit(viewMelasForm.value)">
                                <div class="row ">
                                    <div class="col-lg-4">

                                        <div class="form-group">

                                            <label for="exampleFormControlInput1">Mela Start
                                                Date:</label>
                                        </div>
                                        <div class="form-group">
                                           
    
                                            <input type="text"
                                            formControlName="startDate"
                                            placeholder="Mela Start Date"
                                            class="form-control"
                                            bsDatepicker>


                                              </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Mela End Date:</label>
                                        </div>

                                        
                                            <div class="form-group">
                                                <input type="text"
                                                formControlName="endDate"
                                            placeholder="Mela End Date"
                                            class="form-control"
                                            bsDatepicker>
                                         
                                            
                                            

                                        </div>
                                      
                              </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">District:</label>
                                        <div class="padding-top-15">
                                        <select class="form-control " formControlName="districtId">
                                            <option value=" " disabled>Select District</option>
                                            <option *ngFor="let district of districts; let i = index"
                                                [value]="districts[i].districtId">
                                                {{districts[i].districtName}}
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row ">
                                  
 
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <input class="btn btn-primary  margin-left-15 active"
                                                type="reset" value="Apply" role="button"
                                                aria-pressed="false">

                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <input class="btn btn-primary  margin-left-15 active"
                                                type="reset" value="Reset" role="button"
                                                aria-pressed="false">

                                        </div>
                                    </div>
                                   
                                </div>
                               
                            </form>
                        </div>


                        <div class="col-lg-12">
                            <table class="table table-striped" datatable [dtOptions]="dtOptions">


                                <thead>
                                    <tr>
                                        <td>S.NO</td>
                                        <td>Rozgar Mela Name</td>
                                        <td>Type Of Mela</td>
                                      
                                        <td>District</td>
                                        <td>Mela Dates</td>
                                        <td>Status</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let group of batchData">
                                        <td></td>
                                        <td>{{group.Melas. melaName}}</td>
                                            <td>{{group.Melas. typeOfMela}}</td>
                                           
                                            
                                            <td>{{group.district.districtName}}</td>
                                            <td>{{group.melaStartDate | date : "dd/MM/yyyy"}}-{{group.melaEndDate | date : "dd/MM/yyyy"}}</td>
                                            <td><a href="/candidate-viewMelas">View Details</a></td>
                                    </tr>
                                </tbody>
                               
                            </table>
                   