<div class="search-apply">
    <div class="row">
        <div class="col-lg-12 search-header"  style="z-index:100">

            <header class="fixed-header">


                <div class="header-padding">
                    <div class="row header-fixed">
                        <div class="col-lg-1 padding-top-15">
                            <a class="logo-wrapper">
                                <img alt="" src="./assets/images/apssdc.png" class="apssdc-logo">
                            </a>
                        </div>
                        <div class="col-lg-9  padding-top-50">
                            <span class="header-text">
                                Andhra Pradesh State Skill Development Corporation
                            </span>
                        </div>
                        <div class="col-lg-2 padding-right-50" onclick = "toggleDisplay()">
                            
                            <a class="user-pic">
                                <img alt="" class="image-user" src="./assets/images/Dummy_Image_Man.jpg">

                            </a>
                            <div class="user-id">AR19975</div>
                        </div>
                     <!--    <div *ngIf = "!isShow">This is a div which toggles.</div> -->
                        <div class="row sticky-header">
                            <div class="col-lg-12">
                                <div class="assess-list">
                                    <ul class="list-ul">
                                        <li class="list-li"> <a href="/assessment" 
                                            class="">Applicant Dashboard</a></li>
                                    <li class="list-li"><a href="/assessor" 
                                            class="">Assessor</a></li>
                                    <li class="list-li"><a href="/my-profile"
                                            class="">My Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

            </header>
        </div>

    </div>
    <div class="col">
        <section>
            <div class="row">
                <div class="col-lg-12 padding-top-180">
                    <div class="search-body">
                        <div class="dashboard-header">
                            <div class="row padding-bottom-25">

                                <div class="dashboard-subheader">
                                    <div class="dashboard-content">
                                        ToT/ToA Dashboard
                                    </div>
                                    <ul class="dashboard-ul">
                                        <li class="dashboard-li">

                                        </li>
                                        <li class="dashboard-li separator">
                                            -
                                        </li>
                                        <li class="dashboard-li text">
                                            Search & Apply
                                        </li>
                                        <li class="dashboard-li separator">
                                            -
                                        </li>
                                        <li class="dashboard-li Search Batches">
                                            
                                            Search Batches
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        <div class="dashboard-body">
                                <div class="row ">
                                    <div class="col-lg-3">
                                        <div class="request-header" style = "font-size: large;">
                                            Search & Training Requests
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-lg-5 request-button">
                                     
                                            <a href="/search-apply" class="btn  btn-outline-primary margin-right-15"
                                            role="button" aria-pressed="true">Add
                                            Training Requests</a>
                                            <a href="/view-batches" class="btn  btn-outline-primary margin-right-15"
                                            role="button" aria-pressed="true">View My Batches</a>
                                            <a href="/assessment" class="btn  btn-outline-primary "
                                            role="button" aria-pressed="true">Go Back</a>
                                    </div>
                                </div>
                                <hr>
                            
                            <div class="dashboard-content">
                                <div class="col-lg-12">
                                    <div class="row ">
                                        <a href="/search-apply" class="btn btn-primary  active"
                                            role="button" aria-pressed="true">Training
                                            Requests</a>
                                        <a href="/search-batches"
                                            class="btn btn-active  margin-left-15 active"
                                            role="button" aria-pressed="true">Search
                                            Batches</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-padding">
                                <form>
                                    <div class="row ">
                                        <div class="col-lg-2">

                                            <div class="form-group">
                                                <label
                                                    for="exampleFormControlInput1">State</label>
                                                <select class="form-control ">
                                                    <option>Select State</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    District</label>
                                                <select class="form-control ">
                                                    <option>Select District</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    Sub-District</label>
                                                <select class="form-control ">
                                                    <option>Select Sub-District</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    Sector</label>
                                                <select class="form-control ">
                                                    <option>Select Sector</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label
                                                    for="exampleFormControlInput1">Applicant
                                                    Type</label>
                                                <select class="form-control ">
                                                    <option>Select Applicant Type
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    Job Role Name</label>
                                                <select class="form-control ">
                                                    <option>Job Role Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                            <div class="col-lg-12 form-padding">
                                <form>
                                    <div class="row ">
                                        <div class="col-lg-2">

                                            <div class="form-group">
                                                <label
                                                    for="exampleFormControlInput1">Status</label>
                                                <select class="form-control ">
                                                    <option>Select Status</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    Requested On</label>
                                                <select class="form-control ">
                                                    <option>From Date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">
                                                    To Date</label>
                                                <select class="form-control ">
                                                    <option>To Date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 ">
                                            <div class="row  padding-top-30 ">
                                                <a href="#"
                                                    class="btn btn-primary  active"
                                                    role="button"
                                                    aria-pressed="true">Apply</a>
                                                <a href="#"
                                                    class="btn btn-light  margin-left-15 active"
                                                    role="button"
                                                    aria-pressed="true">Reset</a>
                                            </div>

                                        </div>


                                    </div>
                                </form>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>

                                            <td><b>S.No.</b></td>
                                            <td><b>Applicant Type</b></td>
                                            <td><b>Job Role Name(QP Code)</b></td>
                                            <td><b>Sector</b></td>
                                            <td><b>State</b></td>
                                            <td><b>District</b></td>
                                            <td><b>Sub District</b></td>
                                            <td><b>Status</b></td>
                                            <td><b>Action</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    No Data Found.
                                </div>
                            </div>

                            <div>
                                &nbsp;
                            </div>

                            <div class="row ">
                                <div class="col-lg-3">
                                    <div class="request-header">
                                        <h4> Search Results</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>

                                            <td><b>Batch ID</b></td>
                                            <td><b>Batch Type</b></td>
                                            <td><b>Job Role Name(QP Code)</b></td>
                                            <td><b>ToT/ToA Centre Name(ID)</b></td>
                                            <td><b>State</b></td>
                                            <td><b>District</b></td>
                                            <td><b>Start Date-End Date</b></td>
                                            <td><b>Action</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <p style="color:blue"> No Data Found...</p>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>
             </div>